* {
  padding: 0;
  margin: 0;
}
.drk-blue {
  background-color: #346389;
}
.white-text {
  color: white;
}
.yellow-text {
  color: yellow;
}
.rounded-corners {
  border-radius: 5px;
}
.rounded-corners2 {
  border-radius: 10px;
}
.text-center {
  text-align: center;
}
.align-right {
  position: absolute;
  right: 10px;
}
.shadow {
   box-shadow: 1px 1px 2px black;
}
.container {
  display:inline-block;
  border: 1px solid black;
}
/*wrapper*/

.wrapper {
  font-family: sans-serif;
  width: 970px;
  position: relative;;
}

/*Top Bar*/

.pythonPNG {
  display: inline-block;
}
.pythonPNG img {
  margin-left:20px;
  width:300px;
}
form {
  padding: 5px 20px;
}
input {
  text-align:center;
  padding:5px;
}
.search-bar-box {
  background-color: #4c4c4c;
  padding: 10px;
}
.search-bar {
  display: inline-block;
}
#go-button {
  padding: 5px 10px;
  margin-left: 3px;
}
.text-size {
  text-align: right;
  padding-bottom: 2px;
  padding-top:10px;
  padding-right: 40px;
  font-size: .75em;
}
.text-size span {
  color: white;
}
.text-size a {
  color: #e8b829;
}

/*Nav Bar*/

.nav-bar {
  padding: 5px 20px 5px 30px;
  background-color: #5499bf;
  margin: 20px 25px 0px 50px;
}
.nav-bar ul {
  text-align: center;
}
.nav-bar ul li {
  font-size: 1.25em;
  margin: 5px 25px;
  display: inline-block;
  text-align: center;
}
.nav-bar a {
  color: white;
  text-decoration: none;
}

/*content 1*/
.c1-block {
  margin-top:10px;
  position:relative;
  text-align: center;
}
.content-1 {
  display:inline-block;
  padding: 5px;
}
.c1-links {
  display:inline-block;
  vertical-align: top;
}
.c1-links ul {
  text-align: center;
}
.c1-links ul li a {
  color: white;
}
.c1-content {
  display:inline-block;
  width: 70%;
}
.content-1 div ul li {
  list-style-type: none;
  color: yellow;
  font-style: italic;
  margin: 10px;
}

/*content 2*/
.blue-bar {
  margin: 5px;
  height: 5px;
  background-color: #5499bf;
}
.c2-block {
  margin-left:20px;
  width:75%;
}
.c2-block ul {
  width: 90%;
  margin-left:40px;
}
.content-2 {
  background-color: white;
  display:block;
  text-align: center;
  padding-bottom:10px;
}
.c2-content {
  vertical-align: top;
  display: inline-block;
  width:43%;
}
.c2-content span {
  color: #5499bf;
}
.c2-content ul li {
  list-style-type: square;
}
.c2-content ul li a {
  color: #5499bf;
  text-decoration: none;
}

/*bottom bar*/
.gradient {
  background: linear-gradient(#346389, #5499bf);
}
.bottom-links {
  margin-top: 40px;
  text-align:center;
}
.bottom-links ul li {
  display:inline-block;
  margin: 0px 20px;
}
.bottom-links a {
  color: #d8d8d8;
  text-decoration: none;
}
.copyright {
  margin: 10px;
  padding-bottom:5px;
  font-size:.75em;
  text-align: center;
  color: #d8d8d8;
}
